iOSTemplate/iOSTemplate.xcodeproj/xcuserdata/*
iOSTemplate/iOSTemplate.xcodeproj/project.xcworkspace/xcuserdata/*
iOSTemplate/iOSTemplate.xcodeproj/project.xcworkspace/xcshareddata/*
iOSTemplate/iOSTemplate.xcworkspace/xcuserdata/*
iOSTemplate/iOSTemplate.xcworkspace/xcshareddata/*
iOSTemplate/Pods/Pods.xcodeproj/xcuserdata/*
iOSTemplate/build/*
iOSTemplate/Pods/Pods.xcodeproj/xcuserdata/*
iOSTemplate/Pods/*
iOSTemplate/Podfile.lock

bin
obj
packages
*.suo
*.user
*.DS_Store*
contents.xcworkspacedata

